div.dgidgitalisation-top-margin
.dgidgitalisation-outer.border-dark.rounded
  .dgidgitalisation-inner
    a(href='/users/' + post.userId, style='text-decoration: none;')
      img.bebe-avatar(src='/users/' + post.userId + '/avatar')
      span.carte-dgidgitaliseur-id @#{post.userId}
    span.carte-dgidgitaliseur-date #{post.date}
    .dgidgitalisation-contenu
      div #{post.content}
      if post.imageId
        img.img-fluid(src='/images/' + post.imageId, data-toggle='modal', data-target='#modal_' + post.imageId)
        .modal.fade(tabindex='-1', role='dialog', id='modal_' + post.imageId)
          .modal-dialog.modal-lg(role='document')
            .modal-content
              .modal-body
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                img#image.img-fluid(src='/images/' + post.imageId, alt='')
              .modal-footer
                div.post-content #{post.content}
      if post.hashtags
        div.post-hashtags
          for hashtag, i in post.hashtags
            span.hashtag-big
              a.btn.btn-sm.btn-secondary.rounded(href='/hashtags/' + hashtag, role='button') ##{hashtag}
