extends layout

block title
  if targetUser
    title #{targetUser.userId} - Dgidgi.tal
  else
    title ??? - Dgidgi.tal
    
block content
  main(role='main')
    if targetUser
      .jumbotron
        .papa-avatar-container
          img.papa-avatar(src='/users/' + targetUser.userId + '/avatar')
      .container-fluid
        .row
          .col-3
            div.presentation
            .card(style='width: 20rem;')
              .card-body
                h5.card-title.presentation-title
                  .presentation-userName #{targetUser.userName}
                  .presentation-userId @#{targetUser.userId}
                  br
                  .presentation-email #{targetUser.email}
                br
                p.card-text
                  div #{targetUser.description}
          .col-9.dgidgitalisation-liste.p-3
            if posts
              for  post, i in posts
                include dgidgitalisation.pug
